<h1> app component </h1>

<!-- <app-dashboard> </app-dashboard>-->

<div>
  <a routerLink="login" >log-in </a> <span>| </span>

   <a routerLink="home" >home</a> <span>| </span>
   <a routerLink="aboutus" >about us</a> <span>| </span>
   <a routerLink="contactus" >contact us</a><span>| </span>
   <a routerLink="student65" >student</a><span>| </span>
  
   <!-- studentdetial and register make chile of student , 
        this below code move to student html -->
   <!-- <a routerLink="studentdetail" >studentdetail</a><span>| </span>
   <a routerLink="register" >register </a><span>| </span> -->

</div>
<!-- place holder -->
 <router-outlet></router-outlet>